

/* ========================================== */

.box {
	height: 150px;
	width: 150px;
	line-height: 150px;
	background: #000;
	border-radius: 50%;
	border: 10px solid blue;
	text-align: center;
	color: #fff;
	font-size: 30px;
}