.wrap {
	width: 1000px;
	margin: 0 auto;
}

.header {
	height: 50px;
	background: red;
}

.menu {
	width: 200px;
	height: 50px;
	background: #000;
	float: left;
}

.content {
	width: 800px;
	height: 50px;
	background: pink;
	float:  right;
}

.clearfix {
	clear: both;
}

.footer {
	height: 50px;
	background: gray;
}